*{
    margin: 0;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    /* display: none; */
}

.header a:hover {
    color: rgb(151, 29, 151);
}

.header nav ul li {
    display: inline-block; 
    padding: 0 30px;
    font-size: 20px;
    line-height: 90px;
    text-align: center;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.container {
    position: relative;
    background: url(img/background4.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .box {
    margin-top: 70px;
    height: 90vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(10px);
    box-shadow: -15px 17px 17px rgb(10, 10, 10, 0.15);
}

.content{
    color: white;
    text-align: center;
    margin-top: 200px;
    align-items: center;
    margin-left: 60px;
}

.content .section-1 {
    left: 0%;
}

.content .section-1 h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
}

.content .section-1 h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.content .section-1 p{
    font-size: 15px;
    margin-bottom: 50px;
}

.content .btn{
   color: white;
   text-decoration: none;
   font-weight: bold;
   font-style: italic;
}

.content .btn:hover {
    color: #673d91;
}

.content-3 {
    margin-right: 300px;
}

.section-1 {
    margin-left: 150px;
}


/* buat tampilang about me */
.content-2 {
    height: 170vh;
    color: white;
    text-align: center;
    background :url(img/background4.jpg);
    background-size: cover;
}

.content-2 p {
    font-style: italic;
}

.foto {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}


/* tampilan contact */

.content-3 img {
    width: 80px;
    margin-left: 300px;
    margin-top: 90px;
}

.content-3 p {
    color: white;
    font-style: italic;
    text-align: center;
    margin-top: -50px;
}

.content-3 {
    margin-left: 250px;
    margin-top: -70px;
}

/* membuat footer */
footer {
    font-style: italic;
    font-size: 20px;
    height: 50px;
    background-color: rgb(151, 29, 151);
    color: white;
    text-align: center;
    line-height: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}


/* responsive */
@media screen and (max-width: 652px) {

    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -200px;
        margin-top: -3rem;
    }
    
    .content-3 img {
        margin-top: 70px;
        margin-left: 50%;
        /* justify-content: center; */
    }
    
    #contact img {
        width: 50px;
    }
    
    #contact p {
        justify-content: center;
        align-items: center;
    }

    .foto {
        margin-top: 30px;
    }

    .header nav ul li {
        font-size: 17px;
    }
 
    .content-3 p {
        margin-top: 10px;
        margin-left: 40px;
        display: flex;
    } 


}
